footer {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
footer p {
  margin: 0.5rem;
  color: #22046f;
}
footer i {
  border-bottom: 1px dashed;
}

footer a {
  color: #22046f;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  footer {
    align-items: flex-start;
    flex-direction: column;
  }
}
