/**
 * Home page
 *******************************************
 */
body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  background: #21c08b;
}

* {
  box-sizing: border-box;
}

input:not([type='submit']):not([type='checkbox']) {
  background-color: transparent;
  border-bottom: 2px solid white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
}

input[type='submit'] {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}

::placeholder {
  color: white;
}

.main {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: content-box;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  overflow-x: visible;
}

.main h2 {
  color: white;
  font-size: 30px;
}

.main h3 {
  font-size: 24px;
  text-align: center;
}

body .main .search-input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
  width: 70%;
}

/**
 * Media Queries
 *******************************************
 */
@media only screen and (max-width: 600px) {
  .main h2 {
    font-size: 24px;
  }
}
